.auth {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    gap: 20px;
    margin-top: 70px;

}

.auth h1{
    color:#48CFCB;
}
.authInp{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 50px;
    padding: 50px;
    border-radius: 8px;

    background: linear-gradient(135deg, rgba(44, 41, 41, 0.198), rgba(22, 22, 22, 0.176));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-bottom: 1px solid var(--primary-text-color);
    box-shadow: 0 8px 32px 0 rgb(0, 0, 0, 0.37);
}
.authInp input {
    background-color: transparent;
    height: 50px;
    width: 250px;
    border-radius: 10px;
    border: 1px solid var(--primary-text-color);
    font-family: var(--font-family);
    font-size: 20px;
    text-align: center;
}

.password-toggle-icon{
    position: absolute;
    bottom: 60px;
    right: 25px;
    font-size: 20px;
    cursor: pointer;
}
.password-toggle-icon2{
    position: absolute;
    bottom: 160px;
    right: 25px;
    font-size: 20px;
    cursor: pointer;
}

.authInp input:focus {
    border: 1px solid var(--secondary-color);
    outline: none;
}

.authInp input::placeholder {
    color: rgb(98, 94, 94);
    outline: none;
}

.signbtn {
    background: #191e24;
    backface-visibility: hidden;
    border-radius: .375rem;
    border-style: solid;
    border-width: .125rem;
    box-sizing: border-box;
    color: var(--primary-text-color);
    cursor: pointer;
    display: inline-block;
    font-family: Circular, Helvetica, sans-serif;
    font-size: 1.125rem;
    font-weight: 700;
    letter-spacing: -.01em;
    line-height: 1.3;
    padding: 8px 20px;
    width: 210px;
    margin-top: 11px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transform: translateZ(0) scale(1);
    transition: transform .2s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.signbtn:not(:disabled):hover {
    transform: scale(1.05);
    border: 1px solid rgb(15, 184, 15);
}

.signbtn:not(:disabled):hover:active {
    transform: scale(1.05) translateY(.125rem);
}

.signbtn:focus {
    outline: 0 solid transparent;
}

.signbtn:focus:before {
    content: "";
    left: calc(-1*.375rem);
    pointer-events: none;
    position: absolute;
    top: calc(-1*.375rem);
    transition: border-radius;
    user-select: none;
}

.signbtn:focus:not(:focus-visible) {
    outline: 0 solid transparent;
}

.signbtn:focus:not(:focus-visible):before {
    border-width: 0;
}

.signbtn:not(:disabled):active {
    transform: translateY(.125rem);
}

.navigate{
    display: flex;
    flex-direction: row;
    gap: 10px;
    font-family: var(--font-family);
    margin-top: 10px;
   
}

.navigate a{
    color: #48CFCB;
}
.navigate a:hover{
    color: green;
    font-size: 18px;
}